body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #e5b4e5;
    color: rgb(137, 6, 111);
    font-family: Arial, sans-serif;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #d607d0;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background-color: #f52e84;
}

.game-info {
    margin-top: 20px;
    text-align: center;
}

#restart-button {
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
}
.social-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.1);
}

